apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  template:
    spec:
      containers:
        - name: backend
          ports:
            - containerPort: 5005
              name: debug
          env:
            - name: JAVA_TOOL_OPTIONS
              value: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  ports:
    - name: debug
      port: 5005
